/* 
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝ 
*/

/* V A R I A B L E S */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"); /* Font Import */
@import url("colors.css"); /* Colors Import */
/* @import url("../../.cache/wal/colors.css"); /* Colors Import */

:root {
  /* Font Size */
  --fg-primary: 10vh; /* Time and Greetings */
  --fg-secondary: 3vh; /* Greetings and Weather widger */
  --fg-date: 7vh; /* Date */
  /* --fg-list: 2vh; /* Links List */
  --icon: 4vh; /* Icon Size */

  /* Image background  */
  --imgbg: url(assets/background.jpg); /* Image URL */
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

.container {
  /* Dark Colors  */
  --accent: var(--color4); /* Hover color */
  --cards: var(--color0); /* Cards color */

  /* Fonts Color */
  --fg: var(--foreground); /* Foreground color */
  --sfg: var(--background); /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}

/* S T Y L E S */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: 0.2s ease-in-out;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.withImageBackground {
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover;
}

.container {
  width: 145vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.card {
  background-color: var(--cards);
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-1rem);
}

.timeBlock {
  grid-row: 1 / span 4;
  grid-column: 1 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .weatherBlock { */
/*   grid-column: 3 / span 2; */
/*   grid-row: 1 / span 2; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/* } */

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

/* .weather { */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/* } */

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hour,
#separator,
#minutes {
  font-size: var(--fg-primary);
  font-weight: bolder;
  color: var(--color2);
}

#month,
#day {
  font-size: var(--fg-date);
  font-weight: bold;
  color: var(--fg);
}

#day {
  margin-left: 1rem;
}

#greetings {
  font-size: var(--fg-secondary);
  font-weight: bold;
  color: var(--color4);
  letter-spacing: 5px;
}

.search-box {
  /*padding: 40px;*/
  background-color: var(--background);
  grid-row: 7 / span 1;
  grid-column: 5 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  display: block;
  width: 300px; /*20px [ left & Right ] padding + 4px border [ left & Right ] */ 
  font-size: 16px;
  font-weight: 600;
  color: var(--fg);
  padding: 6px;
  border: 2px solid var(--color2);
  border-radius: 12px;
  background-color: var(--background);
}

input[type="text"]:focus {
  outline: 3px solid var(--color4);
  border-radius: 16px;
}

.reduceGap {
  grid-gap: 2rem !important;
}

.removeGap {
  grid-gap: 0 !important;
}

.linksBlock {
  /* grid-row: 3 / span 2; */
  /* grid-column: 1 / span 4; */
  display: flex;

  /* grid-gap: 1.5rem; */
  grid-row: 5/ span 4;
  grid-column: 1 / span 4;
}

.buttonsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonIcon {
  width: var(--icon);
  height: var(--icon);
  color: var(--fg);
}

.button__1 {
  grid-row: 1;
  grid-column: 1;
}
.button__2 {
  grid-row: 1;
  grid-column: 2;
}
.button__3 {
  grid-row: 2;
  grid-column: 1;
}
.button__4 {
  grid-row: 2;
  grid-column: 2;
}
.button__5 {
  grid-row: 1;
  grid-column: 3;
}
.button__6 {
  grid-row: 2;
  grid-column: 3;
}
.button:hover {
  background-color: var(--accent);
}
.button:hover svg {
  stroke: var(--sfg);
}

.imageBlock {
  display: grid;
  grid-row: 1 / span 6;
  grid-column: 5 / span 4;
  margin: 1rem;
}

.imageBlock img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: centre;
}

.imageBlock img:hover {
  transform: translateY(-1rem);
}

/* M E D I A - Q U E R I E S */
@media only screen and (max-width: 69em) {
  .container {
    grid-gap: 20px;
    padding: 40px;
  }

  .timeBlock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }

  .weatherBlock {
    display: none;
  }

  #greetings {
    font-size: var(--fg-secondary);
  }

  .imageBlock {
    display: none;
  }

  .linksBlock {
    grid-column: 1 / span 4;
  }
}
