[theme="cattpuccin"][themeIndex="0"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #25242B;
    --foreground: #ECE8E0;
    --cursor: #ECE8E0;

    /* Colors */
    --color0: #4B4A51;
    --color1: #82205A;
    --color2: #444AD2;
    --color3: #695C59;
    --color4: #E43B65;
    --color5: #86A1BA;
    --color6: #C8BEA7;
    --color7: #DBD6CB;
    --color8: #99968E;
    --color9: #82205A;
    --color10: #444AD2;
    --color11: #695C59;
    --color12: #E43B65;
    --color13: #86A1BA;
    --color14: #C8BEA7;
    --color15: #DBD6CB;
}

[theme="cattpuccin"][themeIndex="1"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #141619;
    --foreground: #F1D2D9;
    --cursor: #F1D2D9;

    /* Colors */
    --color0: #3B3D41;
    --color1: #041728;
    --color2: #44355C;
    --color3: #80394F;
    --color4: #556789;
    --color5: #916994;
    --color6: #D77E93;
    --color7: #E2B6C1;
    --color8: #9F7F87;
    --color9: #041728;
    --color10: #44355C;
    --color11: #80394F;
    --color12: #556789;
    --color13: #916994;
    --color14: #D77E93;
    --color15: #E2B6C1;
}

[theme="cattpuccin"][themeIndex="2"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #19191B;
    --foreground: #EFE8DC;
    --cursor: #EFE8DC;

    /* Colors */
    --color0: #3F4042;
    --color1: #161921;
    --color2: #585C6E;
    --color3: #959BA3;
    --color4: #CC98B6;
    --color5: #97C7AA;
    --color6: #D0BD9C;
    --color7: #DFD6C5;
    --color8: #9C958A;
    --color9: #161921;
    --color10: #585C6E;
    --color11: #959BA3;
    --color12: #CC98B6;
    --color13: #97C7AA;
    --color14: #D0BD9C;
    --color15: #DFD6C5;
}

[theme="cattpuccin"][themeIndex="3"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #221E24;
    --foreground: #FCFAF9;
    --cursor: #FCFAF9;

    /* Colors */
    --color0: #49444B;
    --color1: #2C1636;
    --color2: #534D90;
    --color3: #A6687F;
    --color4: #9C94CB;
    --color5: #ECB3C6;
    --color6: #F6F1EF;
    --color7: #F2F0EF;
    --color8: #A9A8A7;
    --color9: #2C1636;
    --color10: #534D90;
    --color11: #A6687F;
    --color12: #9C94CB;
    --color13: #ECB3C6;
    --color14: #F6F1EF;
    --color15: #F2F0EF;
}

[theme="tokyo"][themeIndex="0"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #161616;
    --foreground: #CDECD7;
    --cursor: #CDECD7;

    /* Colors */
    --color0: #3D3D3D;
    --color1: #161616;
    --color2: #864A64;
    --color3: #446A50;
    --color4: #2D9DB5;
    --color5: #9E98AF;
    --color6: #70C98C;
    --color7: #AFDCBD;
    --color8: #7B9A84;
    --color9: #161616;
    --color10: #864A64;
    --color11: #446A50;
    --color12: #2D9DB5;
    --color13: #9E98AF;
    --color14: #70C98C;
    --color15: #AFDCBD;
}

[theme="tokyo"][themeIndex="1"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #171718;
    --foreground: #C8EDFB;
    --cursor: #C8EDFB;

    /* Colors */
    --color0: #3E3E3F;
    --color1: #7E495E;
    --color2: #25788D;
    --color3: #A491DC;
    --color4: #F3748C;
    --color5: #C29A61;
    --color6: #61CBF3;
    --color7: #A8DDF1;
    --color8: #759AA8;
    --color9: #7E495E;
    --color10: #25788D;
    --color11: #A491DC;
    --color12: #F3748C;
    --color13: #C29A61;
    --color14: #61CBF3;
    --color15: #A8DDF1;
}

[theme="tokyo"][themeIndex="2"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #18181A;
    --foreground: #D1FDDD;
    --cursor: #D1FDDD;

    /* Colors */
    --color0: #3E3F41;
    --color1: #B20C49;
    --color2: #767E47;
    --color3: #1985C7;
    --color4: #F0895C;
    --color5: #C99BDC;
    --color6: #7CFA9D;
    --color7: #B5F4C6;
    --color8: #7FAB8A;
    --color9: #B20C49;
    --color10: #767E47;
    --color11: #1985C7;
    --color12: #F0895C;
    --color13: #C99BDC;
    --color14: #7CFA9D;
    --color15: #B5F4C6;
}

[theme="greenify"][themeIndex="0"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #2A2B2A;
    --foreground: #E4DCC9;
    --cursor: #E4DCC9;

    /* Colors */
    --color0: #4F504F;
    --color1: #654653;
    --color2: #2F517C;
    --color3: #885930;
    --color4: #7B8388;
    --color5: #FA6929;
    --color6: #B39B66;
    --color7: #D1C5AA;
    --color8: #928A77;
    --color9: #654653;
    --color10: #2F517C;
    --color11: #885930;
    --color12: #7B8388;
    --color13: #FA6929;
    --color14: #B39B66;
    --color15: #D1C5AA;
}

[theme="greenify"][themeIndex="1"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #1B1312;
    --foreground: #E6EAE3;
    --cursor: #E6EAE3;

    /* Colors */
    --color0: #433B3A;
    --color1: #293329;
    --color2: #67525D;
    --color3: #A83120;
    --color4: #6E796C;
    --color5: #B89786;
    --color6: #B8C4AE;
    --color7: #D3D9CE;
    --color8: #949890;
    --color9: #293329;
    --color10: #67525D;
    --color11: #A83120;
    --color12: #6E796C;
    --color13: #B89786;
    --color14: #B8C4AE;
    --color15: #D3D9CE;
}

[theme="greenify"][themeIndex="2"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #010000;
    --foreground: #F0ECE0;
    --cursor: #F0ECE0;

    /* Colors */
    --color0: #010000;
    --color1: #665F54;
    --color2: #6C766A;
    --color3: #87806E;
    --color4: #ABA189;
    --color5: #A2AE98;
    --color6: #D3C8A6;
    --color7: #E1DBCA;
    --color8: #9D998D;
    --color9: #665F54;
    --color10: #6C766A;
    --color11: #87806E;
    --color12: #ABA189;
    --color13: #A2AE98;
    --color14: #D3C8A6;
    --color15: #E1DBCA;
}

[theme="greenify"][themeIndex="3"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #151515;
    --foreground: #EEDEDA;
    --cursor: #EEDEDA;

    /* Colors */
    --color0: #3C3C3C;
    --color1: #485263;
    --color2: #456959;
    --color3: #805966;
    --color4: #6185B6;
    --color5: #98A7A4;
    --color6: #CFA095;
    --color7: #DFC7C2;
    --color8: #9C8B87;
    --color9: #485263;
    --color10: #456959;
    --color11: #805966;
    --color12: #6185B6;
    --color13: #98A7A4;
    --color14: #CFA095;
    --color15: #DFC7C2;
}

[theme="greenify"][themeIndex="4"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #1A1E1B;
    --foreground: #FCF9EB;
    --cursor: #FCF9EB;

    /* Colors */
    --color0: #404441;
    --color1: #0D2114;
    --color2: #403253;
    --color3: #70705C;
    --color4: #CA546E;
    --color5: #A5BBCF;
    --color6: #F7EFC6;
    --color7: #F3EFDA;
    --color8: #AAA799;
    --color9: #0D2114;
    --color10: #403253;
    --color11: #70705C;
    --color12: #CA546E;
    --color13: #A5BBCF;
    --color14: #F7EFC6;
    --color15: #F3EFDA;
}

[theme="oxo"][themeIndex="0"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #00000F;
    --foreground: #FCE2EE;
    --cursor: #FCE2EE;

    /* Colors */
    --color0: #00000F;
    --color1: #034273;
    --color2: #874F8F;
    --color3: #6A7E9C;
    --color4: #DA5FB2;
    --color5: #AEB7CB;
    --color6: #F7ACCE;
    --color7: #F3CDDE;
    --color8: #AA909B;
    --color9: #034273;
    --color10: #874F8F;
    --color11: #6A7E9C;
    --color12: #DA5FB2;
    --color13: #AEB7CB;
    --color14: #F7ACCE;
    --color15: #F3CDDE;
}

[theme="oxo"][themeIndex="1"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #232323;
    --foreground: #E8DAFF;
    --cursor: #E8DAFF;

    /* Colors */
    --color0: #494949;
    --color1: #232323;
    --color2: #455E6E;
    --color3: #8E516C;
    --color4: #E976A8;
    --color5: #A7A9AD;
    --color6: #BE95FF;
    --color7: #D6C2F7;
    --color8: #9687AD;
    --color9: #232323;
    --color10: #455E6E;
    --color11: #8E516C;
    --color12: #E976A8;
    --color13: #A7A9AD;
    --color14: #BE95FF;
    --color15: #D6C2F7;
} 

[theme="oxo"][themeIndex="2"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #312D39;
    --foreground: #FFF9F8;
    --cursor: #FFF9F8;

    /* Colors */
    --color0: #56515F;
    --color1: #6C3E66;
    --color2: #BA428A;
    --color3: #E66E90;
    --color4: #F8A49C;
    --color5: #FBC79E;
    --color6: #FEEDEC;
    --color7: #F6EEED;
    --color8: #ACA6A6;
    --color9: #6C3E66;
    --color10: #BA428A;
    --color11: #E66E90;
    --color12: #F8A49C;
    --color13: #FBC79E;
    --color14: #FEEDEC;
    --color15: #F6EEED;
}

[theme="oxo"][themeIndex="3"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #01000E;
    --foreground: #D3E9E9;
    --cursor: #D3E9E9;

    /* Colors */
    --color0: #02000F;
    --color1: #444177;
    --color2: #347663;
    --color3: #9B5C76;
    --color4: #5F829F;
    --color5: #B0A2BE;
    --color6: #82C1C1;
    --color7: #B8D8D8;
    --color8: #819797;
    --color9: #444177;
    --color10: #347663;
    --color11: #9B5C76;
    --color12: #5F829F;
    --color13: #B0A2BE;
    --color14: #82C1C1;
    --color15: #B8D8D8;
}

[theme="oxo"][themeIndex="4"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #17101A;
    --foreground: #E1AFCC;
    --cursor: #E1AFCC;

    /* Colors */
    --color0: #3F3842;
    --color1: #230036;
    --color2: #50073B;
    --color3: #291280;
    --color4: #530C66;
    --color5: #812878;
    --color6: #A8196C;
    --color7: #CB84AD;
    --color8: #8E5C79;
    --color9: #230036;
    --color10: #50073B;
    --color11: #291280;
    --color12: #530C66;
    --color13: #812878;
    --color14: #A8196C;
    --color15: #CB84AD;
}

[theme="nord"][themeIndex="0"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #000004;
    --foreground: #ECEAE6;
    --cursor: #ECEAE6;

    /* Colors */
    --color0: #000004;
    --color1: #4C5C76;
    --color2: #5E81AB;
    --color3: #8C8B9A;
    --color4: #83AAC5;
    --color5: #BEC2D4;
    --color6: #C9C3B8;
    --color7: #DCD9D3;
    --color8: #9A9894;
    --color9: #4C5C76;
    --color10: #5E81AB;
    --color11: #8C8B9A;
    --color12: #83AAC5;
    --color13: #BEC2D4;
    --color14: #C9C3B8;
    --color15: #DCD9D3;
}

[theme="nord"][themeIndex="1"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #000004;
    --foreground: #F0EFF2;
    --cursor: #F0EFF2;

    /* Colors */
    --color0: #000004;
    --color1: #2E3440;
    --color2: #7D6466;
    --color3: #709BA9;
    --color4: #D49683;
    --color5: #9BB488;
    --color6: #D4D2DA;
    --color7: #E1E0E4;
    --color8: #9E9DA0;
    --color9: #2E3440;
    --color10: #7D6466;
    --color11: #709BA9;
    --color12: #D49683;
    --color13: #9BB488;
    --color14: #D4D2DA;
    --color15: #E1E0E4;
}

[theme="paddy"][themeIndex="0"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #191A1B;
    --foreground: #EBEEF0;
    --cursor: #EBEEF0;

    /* Colors */
    --color0: #404142;
    --color1: #171A1F;
    --color2: #7F2422;
    --color3: #677276;
    --color4: #BB847B;
    --color5: #C7B350;
    --color6: #C6CED3;
    --color7: #DADEE1;
    --color8: #999B9D;
    --color9: #171A1F;
    --color10: #7F2422;
    --color11: #677276;
    --color12: #BB847B;
    --color13: #C7B350;
    --color14: #C6CED3;
    --color15: #DADEE1;

}

[theme="paddy"][themeIndex="1"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #19191E;
    --foreground: #E6EAEA;
    --cursor: #E6EAEA;

    /* Colors */
    --color0: #3F4045;
    --color1: #10192F;
    --color2: #314557;
    --color3: #605B59;
    --color4: #596F79;
    --color5: #859296;
    --color6: #B8C3C4;
    --color7: #D3D9D9;
    --color8: #949898;
    --color9: #10192F;
    --color10: #314557;
    --color11: #605B59;
    --color12: #596F79;
    --color13: #859296;
    --color14: #B8C3C4;
    --color15: #D3D9D9;
}

[theme="paddy"][themeIndex="2"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #030003;
    --foreground: #FBEEDB;
    --cursor: #FBEEDB;

    /* Colors */
    --color0: #030003;
    --color1: #3E303E;
    --color2: #94181B;
    --color3: #436683;
    --color4: #B77A66;
    --color5: #959E9C;
    --color6: #F4CE97;
    --color7: #F1DEC3;
    --color8: #A99B88;
    --color9: #3E303E;
    --color10: #94181B;
    --color11: #436683;
    --color12: #B77A66;
    --color13: #959E9C;
    --color14: #F4CE97;
    --color15: #F1DEC3;

}

[theme="paddy"][themeIndex="3"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #242324;
    --foreground: #D3EFF7;
    --cursor: #D3EFF7;

    /* Colors */
    --color0: #4A494A;
    --color1: #292126;
    --color2: #BD3529;
    --color3: #3468C4;
    --color4: #747854;
    --color5: #C1ACC0;
    --color6: #81D0E8;
    --color7: #B8DFEB;
    --color8: #809CA5;
    --color9: #292126;
    --color10: #BD3529;
    --color11: #3468C4;
    --color12: #747854;
    --color13: #C1ACC0;
    --color14: #81D0E8;
    --color15: #B8DFEB;
}

[theme="paddy"][themeIndex="4"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #111316;
    --foreground: #ECF2E1;
    --cursor: #ECF2E1;

    /* Colors */
    --color0: #393A3D;
    --color1: #091320;
    --color2: #84456D;
    --color3: #6D592B;
    --color4: #BF938A;
    --color5: #8DB4D3;
    --color6: #C8D9AA;
    --color7: #DBE4CC;
    --color8: #999F8F;
    --color9: #091320;
    --color10: #84456D;
    --color11: #6D592B;
    --color12: #BF938A;
    --color13: #8DB4D3;
    --color14: #C8D9AA;
    --color15: #DBE4CC;
}

[theme="paddy"][themeIndex="5"] {
    --wallpaper: url("/home/Phuoc/Wallpapers/kogecha2.jpg");

    /* Special */
    --background: #00000F;
    --foreground: #F5EEE0;
    --cursor: #F5EEE0;

    /* Colors */
    --color0: #00000F;
    --color1: #153463;
    --color2: #504237;
    --color3: #317CC9;
    --color4: #908590;
    --color5: #B0D3EF;
    --color6: #E3CEA5;
    --color7: #E9DECA;
    --color8: #A39B8D;
    --color9: #153463;
    --color10: #504237;
    --color11: #317CC9;
    --color12: #908590;
    --color13: #B0D3EF;
    --color14: #E3CEA5;
    --color15: #E9DECA;
}